title: 'Global Settings'
sections:
  main:
    display: Main
    fields:
      -
        handle: site_name
        field:
          character_limit: 0
          type: text
          display: 'Site Name'
      -
        handle: logo
        field:
          mode: list
          container: assets
          restrict: false
          allow_uploads: true
          show_filename: true
          display: Logo
          type: assets
          icon: assets
          listable: hidden
          instructions_position: above
          visibility: visible
          always_save: false
          max_files: 1
      -
        handle: social
        field:
          fields:
            -
              handle: name
              field:
                type: text
                display: Name
                width: 33
            -
              handle: url
              field:
                character_limit: 0
                type: text
                display: URL
                width: 66
            -
              handle: icon
              field:
                container: assets
                mode: list
                restrict: true
                folder: site/social-icons
                allow_uploads: true
                max_files: 1
                type: assets
                display: Icon
          mode: table
          add_row: 'Add Link'
          reorderable: true
          type: grid
          instructions: 'Set any social media links'
          display: Social
          instructions_position: above
          listable: hidden
          visibility: visible
          always_save: false
